/* custom properties */
:root {
  --content-centered: {
    /* 缺点：当 height 不指定时，文字会垫底
    margin: auto;
    position: absolute;
    left: 0; 
    right: 0;
    */
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    margin: 0;
  };
}

/* custom selectors */
@custom-selector :--content h1, h2, h3, h4, h5, h6, span, p;

/* custom styles */
.content-centered :--content { 
  @apply --content-centered;
}